.button {
    width: 5.5rem;
    height: 2rem;
    margin: 1rem auto;
    background: rgb(57, 117, 236);
    color: white;
    border-radius: 3px;
    border: none;
}

.button:hover{
    background-color:rgb(57, 78, 236);
    cursor: pointer;
}